/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/* header */


header a {
  text-decoration: none;
  margin-right: 16px;
  color: black;
  text-transform: uppercase;

  &.active {
    color: #0282f9;
    border-bottom: #0282f9 5px solid;
    padding-bottom: 67px;
  }
}

header a:hover {
  color: #0282f9;
  border-bottom: #0282f9 5px solid;
  padding-bottom: 67px;
}

/* main */



main a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Variable', sans-serif;
}

main a:hover {
  color: blue;
}

.main-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto;
}

.main-bg {
  background-color: #0282f9;
}

/* footer */
.dc-image {
  background-image: url('./assets/img/dc-logo-bg.png'), url('./assets/img/footer-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 730px, cover;
  background-position: 80%, center;
}

.color-follow {
  color: #0282f9;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #656359;
  font-size: 11px;

}

footer a:hover {
  color: #0282f9;
}