* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header a {
  text-decoration: none;
  margin-right: 16px;
  color: black;
  text-transform: uppercase;

  &.active {
    color: #0282f9;
  }
}

header a:hover {
  color: #0282f9;
}

main a {
  color: white;
  text-decoration: none;
}

main a:hover {
  color: blue;
}

.main-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto;
}



.dc-image {
  background-image: url('./assets/img/dc-logo-bg.png'), url('./assets/img/footer-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 830px, cover;
  background-position: right, center;
  height: 550px;

}

.dc-footer {
  background-image: url('./assets/img/dc-logo-bg.png');
  height: 300px;
  background-repeat: no-repeat;
  background-position: right;

}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}



footer a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #656359;
  font-size: 11px;
}

footer a:hover {
  color: #0282f9;
}